<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/service.css">
</head>
<body>


    <h2><%= serviceName %></h2>


    <% for(data of mainData) { %>
        <div class="sec">
            <div class="name"><%= data.name %></div>
            <%= data.exp %> <br>
            <%= data.add %> <br>
            <%= data.email %> <br>

            <%= data.code1 %> 
            <%= data.num1 %> <br>

            <%= data.code2 %> 
            <%= data.num2 %> 
        </div>
    <% } %>
    <a href="/"><button>home</button></a>


    
</body>
</html>